body {
  margin: 0;
  font-family: Arial;
  background-color: lightgray;
}

main {
  max-width: 800px;
  margin: 40px auto;
  padding: 50px;
  background-color: white;
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: black;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid lightslategray;
  border-radius: 4px;
}

button {
  padding: 8px 12px;
  border: 1px solid lightskyblue;
  border-radius: 4px;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 12px;
  border-bottom: 2px solid lightblue;
}

li span {
  flex: 1;
}